In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import os
import cv2

In [2]:
TRAIN = "TRAIN_FOLDER_PATH"
TEST =  "TEST_FOLDER_PATH"
CATEGORIES = ["angry", "disgust", "fear", "happy", "neutral", "sad", "surprise"]

In [3]:
training_data = []
test_data = []

In [4]:
def create_training_data():
    for category in CATEGORIES:
        path = os.path.join(TRAIN,category)
        class_num = CATEGORIES.index(category)
        for img in os.listdir(path):
            img_array = cv2.imread(os.path.join(path,img), cv2.IMREAD_GRAYSCALE)
            for i in range(0,48):
                for j in range(0,48):
                    training_data.append(img_array[i][j])
            training_data.append(class_num)

In [5]:
create_training_data()

In [6]:
def create_test_data():
    for category in CATEGORIES:
        path = os.path.join(TEST,category)
        class_num = CATEGORIES.index(category)
        for img in os.listdir(path):
            img_array = cv2.imread(os.path.join(path,img), cv2.IMREAD_GRAYSCALE)
            for i in range(0,48):
                for j in range(0,48):
                    test_data.append(img_array[i][j])
            test_data.append(class_num)

In [7]:
create_test_data()

In [8]:
len(training_data)

66174245

In [9]:
train = np.array(training_data)
train.shape

(66174245,)

In [10]:
train = train.reshape((28709,2305))

In [11]:
test = np.array(test_data)
test.shape

(16545290,)

In [12]:
test = test.reshape((7178,2305))

In [13]:
train.shape, test.shape

((28709, 2305), (7178, 2305))

In [14]:
train_df=pd.DataFrame(data=train[0:,0:], index=[i for i in range(train.shape[0])], columns=['pixel'+str(i+1) for i in range(train.shape[1])])
train_df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304,pixel2305
0,50,32,15,11,12,10,10,8,15,10,...,157,156,152,148,151,141,143,136,83,0
1,29,24,29,11,15,22,26,11,7,17,...,109,165,148,75,49,33,15,24,24,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,155,138,98,112,94,97,111,107,101,84,...,97,95,92,94,101,108,111,112,109,0
4,211,215,220,221,219,216,213,210,207,205,...,170,168,162,170,169,160,159,156,152,0

In [15]:
train_df.rename(columns = {"pixel2305":"Label"}, inplace = True)

In [16]:
train_df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304,Label
0,50,32,15,11,12,10,10,8,15,10,...,157,156,152,148,151,141,143,136,83,0
1,29,24,29,11,15,22,26,11,7,17,...,109,165,148,75,49,33,15,24,24,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,155,138,98,112,94,97,111,107,101,84,...,97,95,92,94,101,108,111,112,109,0
4,211,215,220,221,219,216,213,210,207,205,...,170,168,162,170,169,160,159,156,152,0

In [17]:
test_df=pd.DataFrame(data=test[0:,0:], index=[i for i in range(test.shape[0])], columns=['pixel'+str(i+1) for i in range(test.shape[1])])
test_df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304,pixel2305
0,46,34,26,23,12,32,35,26,26,38,...,150,135,164,168,131,128,165,180,189,0
1,55,33,54,32,26,21,50,29,38,45,...,224,218,222,224,222,202,132,163,187,0
2,123,123,126,131,124,69,109,149,159,174,...,5,3,5,4,3,2,4,4,3,0
3,255,255,255,255,255,255,255,255,255,251,...,177,174,168,88,19,40,37,37,37,0
4,127,121,124,137,123,118,120,111,111,109,...,177,186,174,172,226,131,53,118,233,0

In [18]:
test_df.rename(columns = {"pixel2305":"Label"}, inplace=True)

In [19]:
test_df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel2296,pixel2297,pixel2298,pixel2299,pixel2300,pixel2301,pixel2302,pixel2303,pixel2304,Label
0,46,34,26,23,12,32,35,26,26,38,...,150,135,164,168,131,128,165,180,189,0
1,55,33,54,32,26,21,50,29,38,45,...,224,218,222,224,222,202,132,163,187,0
2,123,123,126,131,124,69,109,149,159,174,...,5,3,5,4,3,2,4,4,3,0
3,255,255,255,255,255,255,255,255,255,251,...,177,174,168,88,19,40,37,37,37,0
4,127,121,124,137,123,118,120,111,111,109,...,177,186,174,172,226,131,53,118,233,0

In [20]:
train_df.to_csv('TRAIN_FILE_PATH.csv')

In [22]:
test_df.to_csv('TEST_FILE_PATH.csv')